:child_width{ --width:50%}

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(12, 12, 12);
}

.navbar{
    color: white;
    display: flex;
    flex-direction: row-reverse;
}

.link{
    color: white;
    text-decoration: none;

    margin: 5px 15px;
    
    transition: 300ms;
}

.link:hover{
    transition: 300ms;
    color: rgb(151, 151, 151);
}

.page_cont{
    
    background-size: cover;
    background-repeat: no-repeat;

    width: auto;
    display: grid ;
    background-image: url("../src/pages/temp.jpg");
}

.main_name{
  
    padding: 150px 80px;
    font-size: 50px;
    text-align: left;
    color: white;
    width: auto;
}

.discription{
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.wave{
    width: auto;
    margin: 0px;

    height: auto;
}

.info_cont{
    background-color: white;
    padding: 20px 40px;
    color: black;
}

.info_head{
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    font-size: 25px;
}

.info_text{
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.contact_cont{
    margin: 0px;
    display: grid;
    background-color: black;
}

.reach{
 
    width: auto;
    height: auto;
    padding: 20px;
    display: grid;
}

.reach_method{
    margin-left: 0px;
    margin-right: 0px;

    display: flex;
    flex-wrap: wrap;

    padding: 20px;

    justify-content: space-evenly;
}

.method{
    height: auto;
    width: auto;

    text-align: center;

    margin-top: auto;
    margin-bottom: auto;
}

.method_img{
    height: 70px;
    width: 70px;
    transition: 200ms;
}

.method_name{
    padding: 0px;
    margin: 0px;

    color: white;

    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;

    margin-left: 30px;
}

.contact_head{
    text-align: center;
    font-weight: 800;
    margin: 0px;
    padding: 0px;
    color: white;

    font-size: 25px;
}

.wave2{
    width: auto;
}

.contact_cont{
    width: auto;
}

.method_img:hover{
    transform: scale(1.2);
    transition: 200ms;
}

.proj_cont{

    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(22, 22, 22);
    width: auto;
    justify-content: space-evenly;
    background-color: rgb(12, 12, 12);
}

.proj_title{
    
    margin: 0px;
    padding: 10px 20px;

    color: white;
    font-size: 35px;
    font-weight: 800;

    background-color: rgb(22, 22, 22);
}

.nav_color{
    background-color: rgb(12, 12, 12);
}

.proj_catog{
    padding: 8px;
    display: grid;
    width: auto;
}

.proj_catog_name{
    color: white;
    margin: auto auto 0px auto;
    text-align: left;
    padding: 65px 0px 0px 10px;
}

.proj_thumbnail1{
    height: 90px;
    width: 160px;
    transition: 200ms;

    margin: 0px;
    background-size: cover;
    background-image: url(../src/pages/temp.jpg);
}

.proj_thumbnail2{
    height: 90px;
    width: 160px;
    transition: 200ms;

    margin: 0px;
    background-size: cover;
    background-image: url(../src/pages/temp.jpg);
}

.proj_thumbnail3{
    height: 90px;
    width: 160px;
    transition: 200ms;

    margin: 0px;
    background-size: cover;
    background-image: url(../src/pages/temp.jpg);
}

.proj_thumbnail1:hover{
    filter: opacity(70%);
    filter: contrast(70%);
    transition: 200ms;
}

.proj_thumbnail2:hover{
    filter: opacity(70%);
    filter: contrast(70%);
    transition: 200ms;
}

.proj_thumbnail3:hover{
    filter: opacity(70%);
    filter: contrast(70%);
    transition: 200ms;
}


.web_cont{
    /* background-color: red; */
    background-color: rgb(12, 12, 12);
    height: auto;

}

.threed_cont{
    /* background-color: green; */
    background-color: rgb(12, 12, 12);
    height: auto;
}

.video_cont{
    /* background-color: blue; */
    background-color: rgb(12, 12, 12);
    height: auto;
}

.file{
    justify-content: center;
    padding: 15px 30px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
}

.file_name{
    color: white;
    margin: 0px;
    padding: 0px 0px;
}

.file_name{
    color: white;
    margin: 0px;
    padding: 0px 0px;
    font-weight: 800;
}

.file_desc{
    
    text-align: justify;
    margin: 3px;
    color: white;
    padding: 0px 0px;
}

.item_text{
    flex: 1 0 300px;
    width: 80%;
    padding: 0px  10px;
}

.catog_main_title{
    color: white;
    padding: 0px 30px;
    font-size: 20px;

    margin: 0px;
    font-weight: 800;
}

.tech_img{
    width: 30px;
    height: 30px;
}

.temp{
    width: auto;
    display: flex;
    flex-wrap: wrap;
}

.back_but{
    color: white;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.file_img{
    width: 160px;
    height: 110px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit:cover;
}

.qual_cont{
    background-color: rgb(0, 0, 0);
    display: grid;
    color: white;
    
}

.edu_card{
    /* background-color: pink; */
    display: flex;
    margin: 20px 30px;
}

.edu_title{
    font-size: 20px;
    margin: 0px 10px;
    font-weight: 800;
    color: white;
}

.edu_desc{
    font-size: 18px;
    margin: 0px 10px;
    font-weight: 600;
    color: white;
}

.edu_bullet{
    font-size: 20px;
    margin: 0px 20px;
    color: white;
}

.temp2{
    display: grid;
}

.tech_icon{
    color: white;
    margin-top: 5px;
    margin-right: 8px;
}

.parent_container
{
    display: flex;
}

.child_left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(12, 12, 12);
    height: auto;
    font-size:larger;
    transition: width 0.3s ease;

}
.child_right{
    overflow: hidden;  /* Hide the element content, while height = 0 */
    height: auto;
    opacity: 0;
   
    width: 0;
    background-color: aqua;
    /* transition: width 0.3s ease;
    height: auto;  */
  }

 @media only screen and (max-width: 768px) {   .child_left.after{  display: none;  } .child_right.after{ width: 100%;}  } 



.child_left.after
{
       
}
.child_right.after
{
    opacity: 1;
    transition: width 100ms 0ms, opacity 400ms 0ms;
    width: 100%;  

}




button{
    padding: 0px;
    border: none;
}